<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RegisterForm</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<div class="container">
    <h1>Registration</h1>
    <form id="registerForm">
        <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" required>
        </div>
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>
        </div>
        <div class="form-group">
            <label for="password">Password (Min Length > 6):</label>
            <input type="password" id="password" name="password" required minlength="6">
        </div>
        <button type="submit">SignUp</button>
    </form>
    <p>Already have an account? <a href="login.html">LogIn</a></p>
    <div id="message"></div>
</div>
<script src="js/register.js"></script>
</body>
</html>