body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background: linear-gradient(135deg, #353535, #b1b1b1);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.login-container {
    width: 350px;
    padding: 40px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    backdrop-filter: blur(10px);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.5);
    text-align: center;
}

.login-container h1 {
    font-size: 24px;
    font-weight: bold;
    color: whitesmoke;
    margin-bottom: 30px;
}

.input-group {
    position: relative;
    margin-bottom: 30px;
}

.input-group input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    border: none;
    border-bottom: 2px solid #fff;
    outline: none;
    background: transparent;
}

.input-group label {
    position: absolute;
    top: 10px;
    left: 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: 0.5s;
}

.input-group input:focus ~ label,
.input-group input:valid ~ label {
    top: -10px;
    font-size: 12px;
    color: black;
}

button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    color: #fff;
    background: #454545;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
}

button:hover {
    background: #676767;
}

.register-link {
    margin-top: 20px;
    font-size: 14px;
    color: black;
}

.register-link a {
    color: whitesmoke;
    text-decoration: none;
    transition: color 0.3s ease;
}

.register-link a:hover {
    color: lightgray;
}

.welcome-container {
    text-align: center;
    background: rgba(255, 255, 255, 0.1);
    padding: 40px;
    border-radius: 20px;
    backdrop-filter: blur(10px);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.5);
}

.welcome-container h1 {
    font-size: 32px;
    color: #fff;
    margin-bottom: 20px;
}

.actions {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.actions .button {
    display: block;
    padding: 10px;
    font-size: 16px;
    color: #fff;
    background: #6a11cb;
    border: none;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    transition: background 0.3s ease;
}

.actions .button:hover {
    background: #2575fc;
}

.actions .button.delete {
    background: #ff4d4d;
}

.actions .button.delete:hover {
    background: #cc0000;
}

h4 {
    text-align: center;
    color: darkred;
}

h4 a{
    text-align: center;
    color: whitesmoke;
}