body{
    text-align: center;
    background-color: aliceblue;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
}

nav{
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
}

h5{
    color: dimgray;
}